# --- Output di compilazione Java ---
*.class
**/output/
**/production/
bin/

# --- Configurszioni specifiche di IntelliJ IDEA ---
.idea/
*.iml
out/
gen/

# --- File di configurazione locali e temporanei ---
/shelf/
/workspace.xml
/queries/
/dataSources/
/dataSources.local.xml
/httpRequests/
*.iml